.card-body.city {
  max-width: 370px;
  min-height: 90px;
  cursor: pointer;
}

.city-list .card-body {
  margin-bottom: 15px;
}

.city-block {
  display: flex;
  justify-content: flex start;
  align-items: center;
  gap: 5px;
  position: relative;
}

.card-body.active {
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.75);
}

.city-block img {
  scale: 1.2;
}

.city-block-temp {
  margin-left: auto;
  font-size: 30px;
  font-weight: 800;
  margin-right: 20px;
}

.city-block-description__name {
  font-size: 20px;
  font-weight: 800;
  max-width: 180px;
}

.city-block button {
  position: absolute;
  top: -10px;
  right: -10px;
}

.card-body.city:hover {
  box-shadow: 0px 0px 15px 9px rgba(0, 0, 0, 0.75);
}

@media (max-width: 400px) {
  .city-list {
    width: 100%;
  }
  .card-body.city {
    width: 100%;
  }
  .city-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .city-block-description {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
  .city-block > img {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .city-block-temp {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
}
