.pages > .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-body.login {
  height: 390px;
  width: 320px;
}

form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  font-weight: 800;
}

.login label {
  margin-top: 10px;
}

.login button {
  margin: 15px 0;
}
