.pages > .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-body.login {
  min-height: 420px;
  max-width: 315px;
}

form.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  font-weight: 800;
}

.login label {
  margin-top: 10px;
}

.login > button {
  margin: 15px 0 0;
}

.password-input button {
  margin: 15px 0;
}

.anchor-signup {
  font-weight: 400;
  margin: 15px 0;
  text-align: center;
}

.anchor-signup a {
  text-decoration: none;
  font-weight: 800;
  color: white;
}
