.pages > .signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-body.signup {
  height: 530px;
  max-width: 315px;
}

form.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 0;
  font-weight: 800;
}

.terms-and-conditions {
  font-weight: 400;
  margin: 15px 0;
  text-align: center;
}

.terms-and-conditions a {
  text-decoration: none;
  font-weight: 800;
  color: white;
}

.signup label {
  margin-top: 10px;
}

.signup > button {
  margin: 15px 0 0;
}

.password-input button {
  margin: 15px 0;
}
