.card-body.selected-city {
  position: relative;
  max-width: 370px;
  min-height: 90px;
  cursor: pointer;
}

.selected-city-weather__temp {
  position: absolute;
  top: 50px;
  right: 15px;
  font-size: 30px;
}

.selected-city-weather__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-city-weather__main > img {
  width: 200px;
}

@media (max-width: 400px) {
  .selected-city-weather__main {
    flex-flow: column;
  }
  .selected-city-weather__temp {
    position: static;
  }
  .selected-city-weather__temp h1 {
    margin: 0.1rem;
  }
}
