@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Neucha&family=Ubuntu:wght@300&display=swap");

/* * {
  outline: 1px solid red;
} */

body {
  background-color: #f3f5f5;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background: url("../../public/img/sky-background.jpg") no-repeat center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  letter-spacing: 1px;
  height: 100vh;
}

.pages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

:root {
  --error: #e7195a;
}

div.error {
  padding: 10px;
  background: #f7cccc;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
