.air-condition-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 60px;
  max-width: 720px;
}

@media (max-width: 400px) {
  .air-condition-list {
    flex-flow: column nowrap;
    align-items: center;
  }
}
